{% load static %}
<html lang="en">

<canvas id="bubbleMaps"></canvas>

<script src="{% static 'layout/js/Chart.js/chart.min.js' %}"></script>
<script src="{% static 'layout/js/Chartgeo/index.umd.min.js' %}"></script>
<script src="{% static 'layout/js/Chartgeo/index.umd.min.js.map' %}"></script>
<script src="{% static 'layout/js/Chartgeo/papaparse.min.js' %}"></script>


{#<script src="{% static 'layout/toposjson/countries-50m.json' %}"></script>#}

<script>
    $(document).ready(function () {
        Promise.all([
            fetch('https://unpkg.com/us-atlas/states-10m.json')
                .then((r) => r.json()),
            fetch('https://gist.githubusercontent.com/mbostock/9535021/raw/928a5f81f170b767162f8f52dbad05985eae9cac/us-state-capitals.csv')
                .then((r) => r.text()).then((d) => Papa.parse(d, { dynamicTyping: true, header: true}).data)
        ]).then(([us, data]) => {
            const states = ChartGeo.topojson.feature(us, us.objects.states).features;

            const chart = new Chart(document.getElementById("bubbleMaps").getContext("2d"), {
                type: 'bubbleMap',
                data: {
                    labels: data.map((d) => d.description),
                    datasets: [{
                        outline: states,
                        showOutline: true,
                        backgroundColor: 'steelblue',
                        data: data.map((d) => Object.assign(d, {value: Math.round(Math.random() * 100)})),
                    }]
                },
                options: {
                    plugins: {
                        legend: {
                            display: false
                        },
                        datalabels: {
                            align: 'top',
                            formatter: (v) => {
                                return v.description;
                            }
                        }
                    },
                    scales: {
                        xy: {
                            projection: 'albersUsa',
                        },
                        r: {
                            size: [1, 5],
                        },
                    }
                }
            });
        });
    });

</script>

</body>
</html>